@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de NombreProyecto </p>
    
    @foreach(KeyValuePair<string, disco> disco in @ViewBag.diccio){
        <p>@disco.Key</p>
        <p>@disco.Value.artista</p>
        <p>@disco.Value.genero</p>
        <p>@disco.Value.productor</p>
        <a href='@Url.Action("MostrarTemas", "Home", new { key = disco.Key })'>Ver Temas</a>
    }
    
</div>
